{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_label}}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
{% endblock css %}

{% block content %}

    <div class="row-fluid">
        <div class="span12 mcheader">
            <div class="row ore_row">
                <div class="span1">
                    <img src="{{STATIC_URL}}{{app_name}}/Head.png">
                </div>
                <div class="span2 player_dropdown">
                    <h5>Player:</h5>
                    {% dropdown id="player-dropdown" managerid="player-search" labelField="player"
                       valueField="player" value="$player$"|token_safe default="*" showClearButton=false %}
                </div>
                <div class="span2">
                    {% single id="blocks-placed-single" managerid="blocks-placed-search" afterLabel="Blocks Placed" %}
                </div>
                <div class="span2">
                    {% single id="blocks-broken-single" managerid="blocks-broken-search" afterLabel="Blocks Broken" %}
                </div>
                <div class="span2">
                    {% single id="total-killed-single" managerid="total-killed-search" afterLabel="Critters Offed" %}
                </div>
                <div class="span3">
                    {% single id="time-played-single" managerid="time-played-search" afterLabel="Hours Played" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 row_margins bottom_border">
            <div class="row">
                <div class="span6">
                    <div class="chart_title"><h3>Session Activity</h1></div>
                    <div class="grey_border">
                        {% eventsviewer id="test-resulttable" managerid="session-event-search" %}
                    </div>
                </div>
                <div class="span6">
                    <div class="chart_title"><h3>Favored Building Blocks</h1></div>
                    <div class="grey_border">
                        {% chart id="primary-building-blocks" managerid="building-blocks-search" %}
                    </div>
                    <div class="chart_title row_margins_top"><h3>Most Mined Blocks</h1></div>
                    <div class="grey_border">
                        {% chart id="primary-mining-blocks" managerid="mining-blocks-search" %}
                    </div>
                    <div class="chart_title row_margins_top"><h3>Most Hunted Mobs</h1></div>
                    <div class="grey_border">
                        {% chart id="mob-kills-chart" managerid="mob-kills-search" %}
                    </div>
                    <div class="chart_title row_margins_top"><h3>Player Deaths</h1></div>
                    <div class="grey_border">
                        {% chart id="player-kills-chart" managerid="player-kills-search" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block managers %}

    {% searchmanager id="session-event-search"
       search="sourcetype=minecraft_log player=$player$ action=player_connect OR action=player_disconnect"|token_safe %}
    {% searchmanager id="blocks-placed-search"
       search="sourcetype=minecraft_log player=$player$ action=block_placed | stats count"|token_safe %}
    {% searchmanager id="blocks-broken-search"
       search="sourcetype=minecraft_log player=$player$ action=block_broken | stats count"|token_safe %}
    {% searchmanager id="total-killed-search"
       search="sourcetype=minecraft_log killer=$player$ action=mob_died | stats count"|token_safe %}

    {% searchmanager id="time-played-search"
       search="sourcetype=minecraft_log player=$player$ | transaction player startswith=player_connect endswith=player_disconnect maxspan=2d | stats sum(duration) as total_time_sec | eval hours_played=total_time_sec/60.0"|token_safe %}
    
    {% searchmanager id="building-blocks-search"
       search="sourcetype=minecraft_log action=block_placed player=$player$ block_type!=TORCH block_type!=DIRT block_type!=CROPS | top limit=5 block_type"|token_safe %}

    {% searchmanager id="mining-blocks-search"
       search="sourcetype=minecraft_log action=block_broken player=$player$ block_type!=TORCH block_type!=DIRT block_type!=CROPS | top limit=5 block_type"|token_safe %}

    {% searchmanager id="mob-kills-search"
       search="sourcetype=minecraft_log killer=$player$ action=mob_died | top limit=5 victim"|token_safe %}

    {% searchmanager id="player-kills-search"
       search="sourcetype=minecraft_log action=player_died victim=$player$ killer!=lava killer!=fire killer!=fire_tick killer!=drowning killer!=suffocation killer!=fall killer!=suicide | timechart count by killer"|token_safe %}

    {% searchmanager id="player-search"
       search="sourcetype=minecraft_log | dedup player | table player" %}

{% endblock managers %}

{% block js %}

<script>
    require(['underscore', 'backbone', 'splunkjs/mvc/searchmanager', 'splunkjs/mvc', 'splunkjs/ready!'], function(_, Backbone) {
            var mvc = require('splunkjs/mvc');
            var SearchManager = require('splunkjs/mvc/searchmanager');
            
        mvc.Components.getInstance("time-played-single").settings.set({"field" : "hours_played"});
        mvc.Components.getInstance("player-dropdown").settings.set("choices",[{"value":"*","label":"All"}]);

        mvc.Components.getInstance("primary-building-blocks").settings.set({
            "charting.seriesColors": "[0xAAAAAA]"
        });
        
        mvc.Components.getInstance("primary-mining-blocks").settings.set({
            "charting.seriesColors": "[0x997755]"
        });
        
        mvc.Components.getInstance("mob-kills-chart").settings.set({
            "charting.seriesColors": "[0x008800]"
        });
        
        mvc.Components.getInstance("player-kills-chart").settings.set({
            "charting.chart" : "line",
            "charting.axisTitleX.text" : "Date"
        });
    });
</script>

{% endblock js %}