{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}}Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
{% endblock css %}

{% block content %}
        <div class="row-fluid">
            <div class="span12 mcheader">
                <div class="row ore_row">
                    <div class="span1">
                        <img src="http://media-mcw.cursecdn.com/6/67/Cobblestone.png">
                    </div>
                    <div class="span3">
                        {% single managerid="broken-block-search" id="broken-block-single" afterLabel="Blocks Mined" %}
                    </div>
                    <div class="span1">
                        <img src="http://media-mcw.cursecdn.com/d/d4/Stone.png">
                    </div>
                    <div class="span3">
                        {% single managerid="placed-block-search" id="placed-block-single" afterLabel="Blocks Placed" %}
                    </div>
                    <div class="span1">
                        <img src="http://media-mcw.cursecdn.com/9/93/Watch.png">
                    </div>
                    <div class="span3">
                        {% single managerid="time-played-search" id="duration-single" afterLabel="Hours Played" %}
                    </div>
                </div>
            </div>
        </div>
    <div class="row-fluid">
        <div class="span12 row_margins bottom_border">
			<div class="row">
                <div class="span4">
                    <div class="chart_title"><h3>Active Players</h1></div>
                    <div class="grey_border active-player-list">
                        {% table id="example-table" managerid="active-player-search" pageSize="20" %}
                    </div>
                </div>
                <div class="span8">
                    <div class="chart_title"><h3>Total Block Activity</h1></div>
                    <div class="grey_border">
                        {% chart id="activity-chart" managerid="activity-search" %}
                    </div>
                    <div class="chart_title row_margins_top"><h3>Mining Activity</h1></div>
                    <div class="grey_border">
                        {% chart id="mining-chart" managerid="mining-search" %}
                    </div>
                    <div class="chart_title row_margins_top"><h3>Building Activity</h1></div>
                    <div class="grey_border">
                        {% chart id="building-chart" managerid="building-search" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            

{% endblock content %}

{% block managers %}
    {% searchmanager id="time-played-search"
       search="search sourcetype=minecraft_log | eval player=if(player not null, player, victim) | transaction player startswith=player_connect endswith=player_disconnect maxspan=2d | stats sum(duration) as total_time_sec | eval hours_played=total_time_sec/3600.0" %}

{% endblock managers %}

{% block js %}

<script>
require(['underscore', 'backbone', 'splunkjs/mvc/searchmanager', 'splunkjs/mvc', 'splunkjs/ready!'], function(_, Backbone) {
    var mvc = require('splunkjs/mvc');
    var SearchManager = require('splunkjs/mvc/searchmanager');

    mvc.Components.getInstance("duration-single").settings.set({"field" : "hours_played"});
    
    mvc.Components.getInstance("activity-chart").settings.set({
        "charting.chart" : "line",
        "charting.axisTitleX.text" : "Date",
        "charting.axisTitleY.text" : "Blocks"
    });

    mvc.Components.getInstance("mining-chart").settings.set({
        "charting.chart" : "line",
        "charting.axisTitleX.text" : "Date",
        "charting.axisTitleY.text" : "Blocks Broken"
    });
    
    mvc.Components.getInstance("building-chart").settings.set({
        "charting.chart" : "line",
        "charting.axisTitleX.text" : "Date",
        "charting.axisTitleY.text" : "Blocks Placed"
    });
    
    var placedBlockSearch = new SearchManager({
        search: 'sourcetype=minecraft_log action=block_placed | stats count',
        name: 'placed-block-search',
        earliest_time: 'rt-52w',
        latest_time: 'rt'
    });

    var brokenBlockSearch = new SearchManager({
        search: 'sourcetype=minecraft_log action=block_broken | stats count',
        name: 'broken-block-search',
        earliest_time: 'rt-52w',
        latest_time: 'rt'
    });

    var activePlayerSearch = new SearchManager({
        search: 'sourcetype=minecraft_log action=player_connect OR action=player_disconnect | eval player=if(player not null, player, victim) | transaction player startswith=player_connect endswith=player_disconnect maxspan=2d keeporphans=true | search NOT action=player_disconnect |rename _time as since| table player,since',
        name: 'active-player-search',
        earliest_time: 'rt-1d',
        latest_time: 'rt'
    });

    var activitySearch = new SearchManager({
        search: 'sourcetype=minecraft_log AND (action=block_broken OR action=block_placed) | timechart span=1d count',
        name: 'activity-search',
        earliest_time: 'rt-7d',
        latest_time: 'rt'
    });

    var activitySearch = new SearchManager({
        search: 'sourcetype=minecraft_log action=block_broken | timechart span=1d count by block_type',
        name: 'mining-search',
        earliest_time: 'rt-7d',
        latest_time: 'rt'
    });

    var activitySearch = new SearchManager({
        search: 'sourcetype=minecraft_log action=block_placed | timechart span=1d count by block_type',
        name: 'building-search',
        earliest_time: 'rt-7d',
        latest_time: 'rt'
    });
    
});
</script>

{% endblock js %}