{% extends "appfx:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_label}}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/dashboard.css" />

    <link rel="stylesheet" href="http://mc.splunk.local:81/overviewer.css" type="text/css" />

    <style>
        #overviewerFrame {
            width: 1000px;
            height: 1000px;
        }
        .splunk .container {
            width: 100%;
        }
        .container div#mcmap {
            height:1000px;
            width:100%;
        }

        /* Bootstrap Css Map Fix*/
        .container div#mcmap img { 
           max-width: none;
        }
        .container div#mcmap label { 
           width: auto; display:inline; 
        } 
        .container ul#legend {
            display: block;
            margin: auto;
            min-width: 800px;
        }

        .container ul#legend li {
            display: inline-block;
            padding: 20px;
        }

        .container ul#legend .color-block {
            display: inline-block;
            height: 50px;
            width: 50px;
            border: 1px solid black;
            border-radius: 3px;
        }
    </style>


    
{% endblock css %}

{% block content %}

    <div class="container">
        <h1>Users' paths on their last login (at most two days ago)</h1>
        <h2 id="loading">Loading...</h2>
        <div id="mcmap"></div>
        <ul id="legend"></ul>
    </div>
            

{% endblock content%}

{% block js %}   

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
require(['underscore', 'backbone', 'splunkjs/mvc', 'splunkjs/mvc/searchcontext'], function(_, Backbone) {
    // TODO this is bad, but what should i do?
    // the files below depend on underscore and backbone being on the root
    window._ = _;
    window.Backbone = Backbone;

    require([
        '{{STATIC_URL}}{{app_name}}/overviewerConfig.js',
        '{{STATIC_URL}}{{app_name}}/overviewer.js'
    ], function() {

        var components = require('splunkjs/mvc').Components;

        var pathSearch = components.create('appfx-searchcontext', 'users-loggin-in', {
            search: 'search sourcetype="minecraft" world=world | transaction player startswith="action=player_connect" endswith="action=player_disconnect" | dedup player | rex max_match=0 field=_raw " to_x=(?<to_x>-{0,1}\\d*)\\." | rex max_match=0 field=_raw " to_y=(?<to_y>-{0,1}\\d*)\\." | rex max_match=0 field=_raw " to_z=(?<to_z>-{0,1}\\d*)\\." | table player, to_x, to_y, to_z',
            autostart: false,
            earliest_time: '-2d@d',
            latest_time: 'now'
        }).start();

        var datasource = pathSearch.data('results', {
            output_mode: 'json_rows',
            count: 0 // get all results
        });

        var colors = [
            '#FF0000',
            '#00FF00',
            '#FF7F00',
            '#000000',
            '#FFFF00',
            '#FF00FF',
            '#00FFFF',
            '#BF3EFF',
            '#ADFF2F',
            '#FF69B4',
            '#7CFC00',
            '#FF00FF'
        ];

        datasource.on('data', function(results) {
            if (!datasource.hasData()) {
                return;
            }

            $('#loading').text('');

            var paths = results.collection().toJSON();
            _.each(paths, function(path, pathIndex) {
                var color = colors[pathIndex % colors.length];

                // assumption, path.to_x.length === path.to_y.length === path.to_z.length
                _.each(path.to_x, function(xPos, pointIndex) {
                    xPos = parseInt(xPos);
                    var yPos = parseInt(path.to_y[pointIndex]);
                    var zPos = parseInt(path.to_z[pointIndex]);

                    var latLng = overviewer.util.fromWorldToLatLng(
                        xPos, yPos, zPos,
                        overviewer.mapView.options.currentTileSet
                    );

                    // TODO path or line instead of circle
                    new google.maps.Circle({
                        strokeColor: color,
                        strokeOpacity: 0.8,
                        strokeWeight: 5,
                        fillColor: color,
                        fillOpacity: 0.35,
                        map: overviewer.map,
                        center: latLng,
                        radius: 10
                    }); 
                });

                $('#legend').append('<li><div class="color-block" style="background-color:' + color + '"></div> ' + path.player + '</li>');


            });


        });

        overviewer.util.initialize();
        pathSearch.startSearch();

    });
});
</script>

    
{% endblock js %}

